/*BOTON VERDE*/
.btn-custom-green {
    background-color: #2a8584; 
    border-color: #2a8584;
    color: #fff; 
}

.btn-custom-green:hover {
    background-color: #1d6b6a; 
    border-color: #1d6b6a; 
    color: #fff; 
}

/*BOTON NARANJA*/
.btn-custom-orange {
    background-color: #e65a19;
    border-color: #e65a19;
    color: #fff; 
}

.btn-custom-orange:hover {
    background-color: #cc4e17; 
    border-color: #cc4e17; 
}

/*FONDO NARANJA*/
.bg-custom-orange {
    background-color: #e65a19; 
}

/*TEXTO NARANJA*/
.text-custom-orange {
    color: #e65a19; 
}
/*TEXTO NARANJA GASTADO*/
.text-custom-orange-lead {
    color: #e65a199d; 
}  

/*TEXTO NARANJA GASTADO HOOVER*/
.text-custom-orange-lead:hover {
    color: #e65a19; 
}  


.card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 420px;
    
    
    border: 1px solid rgb(1336, 136, 136);
    
    

}









/*NAVBAR*/

.lead-navbar{
    max-width: 500px; 
    margin: -20px auto 0px auto;

}






