/*BOTON VERDE*/
.btn-custom-green {
    background-color: #2a8584; 
    border-color: #2a8584;
    color: #fff; 
}

.btn-custom-green:hover {
    background-color: #1d6b6a; 
    border-color: #1d6b6a; 
    color: #fff; 
}

/*BOTON NARANJA*/
.btn-custom-orange {
    background-color: #e65a19;
    border-color: #e65a19;
    color: #fff; 
}

.btn-custom-orange:hover {
    background-color: #cc4e17; 
    border-color: #cc4e17; 
}

/*FONDO NARANJA*/
.bg-custom-orange {
    background-color: #e65a19; 
}

/*TEXTO NARANJA*/
.text-custom-orange {
    color: #e65a19; 
}
/*TEXTO NARANJA GASTADO*/
.text-custom-orange-lead {
    color: #e65a199d; 
}  

/*TEXTO NARANJA GASTADO HOOVER*/
.text-custom-orange-lead:hover {
    color: #e65a19; 
}  

/*TEXTO VERDE*/
.text-green {
  color: #2a8584;
}

/*CARD*/
.card-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 16px;
  }
  
  
  .btn-primary:focus,
  .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  }
  
  .img-thumbnail {
    max-width: 100%;
    height: auto;
  }
  

/*NAVBAR*/
#nav-title{
    margin-left: -20px;
}

#nav-title:hover{
    color: #e65a19;
}

.lead-navbar{
    max-width: 500px; 
    margin: -20px auto 0px auto;
}

.card img{
    max-height: 150px;
    width: 240px;
}


/*CARD*/

.scroll-container {
    overflow-x: scroll;
    overflow-y: hidden; 
    white-space: nowrap;
    scrollbar-width: thin; 
  }
  
  .scroll-container::-webkit-scrollbar {
    height: 8px; /* Altura de la barra de desplazamiento */
  }
  
  .scroll-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5); /* Color del thumb */
    border-radius: 10px; /* Borde redondeado */
  }
  
  .scroll-container::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); /* Color del track */
  }
  


